<div class="page4">
  <div style="width: 1400px; height: 100%; position:relative; margin:auto;">
    <img class="rectangle-copy" src="assets/images/page4_files/page 2rectangle copy.png" anima-src="https://anima-uploads.s3.amazonaws.com/5aad4ecbec36ed000de2eb65/5aad4f1bec36ed000de2eb67/5aad5419167115000cfa619c/img/page 2rectangle copy.png">
    <div class="group2">
      <input type="text" name="trapit" value="" style="display:none;">
      <div class="group-copy8">
        <input type="text" name="trapit" value="" style="display:none;">
        <div class="need-venue">Need venue</div>
      </div>
    </div>
    <div class="group2-copy">
      <input type="text" name="trapit" value="" style="display:none;">
      <div class="group-copy81">
        <input type="text" name="trapit" value="" style="display:none;">
        <div class="need-catering">Need catering</div>
      </div>
    </div>
    <div class="group10">
      <input type="text" name="trapit" value="" style="display:none;">
      <div class="specific-date">Specific date</div>
      <div class="group11">
        <input type="text" name="trapit" value="" style="display:none;">
        <div class="date-range">Date&nbsp;&nbsp;range</div>
      </div>
      <div class="group3">
        <input type="text" name="trapit" value="" style="display:none;">
        <div class="anytime">Anytime</div>
      </div>
    </div>
    <div class="group2-copy2">
      <input type="text" name="trapit" value="" style="display:none;">
      <div class="group-copy82">
        <input type="text" name="trapit" value="" style="display:none;">
        <div class="need-extraservices">Need extraservices</div>
      </div>
    </div>
    <div class="group">
      <input type="text" name="trapit" value="" style="display:none;">
      <div class="rectangle2">
        <input type="text" name="trapit" value="" style="display:none;">
      </div>
      <div class="lviv">Lviv</div>
      <img class="image1" src="assets/images/page4_files/artboard.png" anima-src="https://anima-uploads.s3.amazonaws.com/5aad4ecbec36ed000de2eb65/5aad4f1bec36ed000de2eb67/5aad4f1cec36ed000de2eb69/img/artboard.png">
    </div>
    <div class="group-copy2">
      <input type="text" name="trapit" value="" style="display:none;">
      <div class="rectangle21">
        <input type="text" name="trapit" value="" style="display:none;">
      </div>
      <div class="conference">Tech</div>
      <img class="image2" src="assets/images/page4_files/artboard.png" anima-src="https://anima-uploads.s3.amazonaws.com/5aad4ecbec36ed000de2eb65/5aad4f1bec36ed000de2eb67/5aad4f1cec36ed000de2eb69/img/artboard.png">
    </div>
    <div class="group-copy">
      <input type="text" name="trapit" value="" style="display:none;">
      <div class="rectangle22">
        <input type="text" name="trapit" value="" style="display:none;">
      </div>
      <div class="a1000">100</div>
    </div>
    <div class="group2-copy1">
      <input type="text" name="trapit" value="" style="display:none;">
      <div class="group-copy83">
        <input type="text" name="trapit" value="" style="display:none;">
        <div class="all-day-event">All day event</div>
      </div>
    </div>
    <div class="group4">
      <input type="text" name="trapit" value="" style="display:none;">
      <div class="group-copy5">
        <input type="text" name="trapit" value="" style="display:none;">
        <div class="rectangle23">
          <input type="text" name="trapit" value="" style="display:none;">
        </div>
        <div class="a10000"></div>
      </div>
      <div class="group-copy6">
        <input type="text" name="trapit" value="" style="display:none;">
        <div class="rectangle24">
          <input type="text" name="trapit" value="" style="display:none;">
        </div>
        <div class="a12000"></div>
      </div>
      <div class="group-copy4">
        <input type="text" name="trapit" value="" style="display:none;">
        <div class="your-budget">Your budget($):</div>
      </div>
    </div>
    <div class="group-copy51">
      <input type="text" name="trapit" value="" style="display:none;">
      <div class="rectangle25">
        <input type="text" name="trapit" value="" style="display:none;">
      </div>
      <div class="calendar">
        <input type="text" name="trapit" value="" style="display:none;">
        <img class="shape" src="assets/images/page4_files/artboardshape.png" anima-src="https://anima-uploads.s3.amazonaws.com/5aad4ecbec36ed000de2eb65/5aad4f1bec36ed000de2eb67/5aad4f1cec36ed000de2eb69/img/artboardshape.png">
        <img class="shape1" src="assets/images/page4_files/artboardshape  4.png" anima-src="https://anima-uploads.s3.amazonaws.com/5aad4ecbec36ed000de2eb65/5aad4f1bec36ed000de2eb67/5aad4f1cec36ed000de2eb69/img/artboardshape  4.png">
        <img class="shape2" src="assets/images/page4_files/artboardshape  5.png" anima-src="https://anima-uploads.s3.amazonaws.com/5aad4ecbec36ed000de2eb65/5aad4f1bec36ed000de2eb67/5aad4f1cec36ed000de2eb69/img/artboardshape  5.png">
      </div>
      <div class="october122018">October 12, 2018</div>
    </div>
    <div class="group-copy41">
      <input type="text" name="trapit" value="" style="display:none;">
      <div class="event-dates">Event dates:</div>
    </div>
    <div class="group5">
      <input type="text" name="trapit" value="" style="display:none;">
      <div class="group8">
        <input type="text" name="trapit" value="" style="display:none;">
        <div class="rectangle4">
          <input type="text" name="trapit" value="" style="display:none;">
        </div>
        <div class="repit-search">Repeat Search</div>
      </div>
    </div>
    <div class="group7">
      <input type="text" name="trapit" value="" style="display:none;">
      <img class="rectangle" src="assets/images/page4_files/page 4rectangle.png" anima-src="https://anima-uploads.s3.amazonaws.com/59e71ca8db5412000cf0a746/5aad4f1bec36ed000de2eb67/5aae4e4d1674f3000caee917/img/page 4rectangle.png">
      <div class="group25">
        <input type="text" name="trapit" value="" style="display:none;">
        <div class="event-on-fly">EVENT ON FLY</div>
        <img class="bitmap" src="assets/images/page4_files/artboardbitmap.png" anima-src="https://anima-uploads.s3.amazonaws.com/5aad4ecbec36ed000de2eb65/5aad4f1bec36ed000de2eb67/5aad4f1cec36ed000de2eb69/img/artboardbitmap.png">
      </div>
      <div class="rectangle7">
        <input type="text" name="trapit" value="" style="display:none;">
      </div>
      <div class="rectangle7-copy">
        <input type="text" name="trapit" value="" style="display:none;">
      </div>
      <div class="rectangle7-copy2">
        <input type="text" name="trapit" value="" style="display:none;">
      </div>
      <img class="screen-shot20180317-at095946-copy" src="assets/images/page4_files/page 4screen shot 20180317 at 095946 copy.png" anima-src="https://anima-uploads.s3.amazonaws.com/59e71ca8db5412000cf0a746/5aad4f1bec36ed000de2eb67/5aae4e4d1674f3000caee917/img/page 4screen shot 20180317 at 095946 copy.png">
    </div>
    <div class="group14">
      <input type="text" name="trapit" value="" style="display:none;">
      <img class="rectangle6" src="assets/images/page4_files/page 2rectangle 6.png" anima-src="https://anima-uploads.s3.amazonaws.com/5aad4ecbec36ed000de2eb65/5aad4f1bec36ed000de2eb67/5aad5419167115000cfa619c/img/page 2rectangle 6.png">
      <div class="venue">Venue</div>
    </div>
    <div class="group14-copy">
      <input type="text" name="trapit" value="" style="display:none;">
      <img class="rectangle61" src="assets/images/page4_files/page 4rectangle 6  1.png" anima-src="https://anima-uploads.s3.amazonaws.com/59e71ca8db5412000cf0a746/5aad4f1bec36ed000de2eb67/5aae4cdd1674f3000d47cafc/img/page 4rectangle 6  1.png">
      <img class="rectangle6-copy" src="assets/images/page4_files/page 4rectangle 6 copy.png" anima-src="https://anima-uploads.s3.amazonaws.com/59e71ca8db5412000cf0a746/5aad4f1bec36ed000de2eb67/5aae4cdd1674f3000d47cafc/img/page 4rectangle 6 copy.png">
      <div class="catering">Catering</div>
      <div class="extraservices">Extraservices</div>
    </div>
    <div class="group21">
      <input type="text" name="trapit" value="" style="display:none;">
      <img class="rectangle62" src="assets/images/page4_files/page 4rectangle 6  2.png" anima-src="https://anima-uploads.s3.amazonaws.com/59e71ca8db5412000cf0a746/5aad4f1bec36ed000de2eb67/5aae4cdd1674f3000d47cafc/img/page 4rectangle 6  2.png">
      <div class="group16">
        <input type="text" name="trapit" value="" style="display:none;">
        <div class="hotel-rius4">Hotel Rius 4* </div>
        <div class="lviv02-miles-to-c">Lviv, 0.2 miles to City center</div>
        <div class="placeholderdd">
          <input type="text" name="trapit" value="" style="display:none;">
          <img class="shape6" src="assets/images/page4_files/page 4shape  7.png" anima-src="https://anima-uploads.s3.amazonaws.com/59e71ca8db5412000cf0a746/5aad4f1bec36ed000de2eb67/5aae4cdd1674f3000d47cafc/img/page 4shape  7.png">
          <img class="shape7" src="assets/images/page4_files/page 4shape  8.png" anima-src="https://anima-uploads.s3.amazonaws.com/59e71ca8db5412000cf0a746/5aad4f1bec36ed000de2eb67/5aae4cdd1674f3000d47cafc/img/page 4shape  8.png">
        </div>
      </div>
    </div>
    <div class="group21-copy">
      <input type="text" name="trapit" value="" style="display:none;">
      <div class="rectangle63">
        <input type="text" name="trapit" value="" style="display:none;">
      </div>
      <div class="group161">
        <input type="text" name="trapit" value="" style="display:none;">
        <div class="hotel-rius41">Hotel Rius 4* </div>
        <div class="lviv02-miles-to-c1">Lviv, 0.2 miles to City center</div>
        <div class="placeholderdd1">
          <input type="text" name="trapit" value="" style="display:none;">
          <div class="shape8">
            <input type="text" name="trapit" value="" style="display:none;">
            <img class="shape9" src="assets/images/page4_files/page 4shape  7.png" anima-src="https://anima-uploads.s3.amazonaws.com/59e71ca8db5412000cf0a746/5aad4f1bec36ed000de2eb67/5aae4cdd1674f3000d47cafc/img/page 4shape  7.png">
            <img class="shape10" src="assets/images/page4_files/page 4shape  8.png" anima-src="https://anima-uploads.s3.amazonaws.com/59e71ca8db5412000cf0a746/5aad4f1bec36ed000de2eb67/5aae4cdd1674f3000d47cafc/img/page 4shape  8.png">
          </div>
        </div>
      </div>
    </div>
    <div class="group81">
      <input type="text" name="trapit" value="" style="display:none;">
      <div class="a8900">$8 900</div>
      <div class="total-price">total price:</div>
    </div>
    <div class="whether-you-are-a-pe">Whether you are a person who wants to organize your anniversary or wedding, or a professional event manager, you always
      face the problem of using dozens or even hundreds of different websites and spending days on choosing a venue, catering
      or cleaning service providers. Our goal is to simplify the life of you as an organizer on the one hand and another
      to give vendors the opportunity to get customers for their services. We want to create a web application that will
      give you the opportunity to make this cooperation as easy as booking a apartment on airbnb or Booking.com.
      <br>
      <br>
    </div>
    <div class="group19">
      <input type="text" name="trapit" value="" style="display:none;">
      <div class="rectangle-copy1">
        <input type="text" name="trapit" value="" style="display:none;">
        <div class="rectangle-copy2">
          <input type="text" name="trapit" value="" style="display:none;">
          <img class="rectangle-copy3" src="assets/images/page4_files/page 4rectangle copy  1.png" anima-src="https://anima-uploads.s3.amazonaws.com/59e71ca8db5412000cf0a746/5aad4f1bec36ed000de2eb67/5aae4cdd1674f3000d47cafc/img/page 4rectangle copy  1.png">
          <img class="screen-shot20180317-at133157" src="assets/images/page4_files/page 2screen shot 20180317 at 133157  1.png" anima-src="https://anima-uploads.s3.amazonaws.com/5aad4ecbec36ed000de2eb65/5aad4f1bec36ed000de2eb67/5aad5419167115000cfa619c/img/page 2screen shot 20180317 at 133157  1.png">
          <img class="screen-shot20180317-at133121" src="assets/images/page4_files/page 2screen shot 20180317 at 133121  1.png" anima-src="https://anima-uploads.s3.amazonaws.com/5aad4ecbec36ed000de2eb65/5aad4f1bec36ed000de2eb67/5aad5419167115000cfa619c/img/page 2screen shot 20180317 at 133121  1.png">
          <img class="screen-shot20180317-at133116" src="assets/images/page4_files/page 2screen shot 20180317 at 133116.png" anima-src="https://anima-uploads.s3.amazonaws.com/5aad4ecbec36ed000de2eb65/5aad4f1bec36ed000de2eb67/5aad5419167115000cfa619c/img/page 2screen shot 20180317 at 133116.png">
          <img class="screen-shot20180317-at133109" src="assets/images/page4_files/page 2screen shot 20180317 at 133109  1.png" anima-src="https://anima-uploads.s3.amazonaws.com/5aad4ecbec36ed000de2eb65/5aad4f1bec36ed000de2eb67/5aad5419167115000cfa619c/img/page 2screen shot 20180317 at 133109  1.png">
        </div>
      </div>
      <div class="group17">
        <input type="text" name="trapit" value="" style="display:none;">
        <div class="a34-parking-place">34 parking place</div>
        <div class="free-wi-fi">Free Wi-Fi </div>
        <div class="air-conditioning">Air conditioning</div>
        <div class="own-catering">Own catering</div>
      </div>
    </div>
    <img class="bitmap1" src="assets/images/page4_files/page 4bitmap  1.png" anima-src="https://anima-uploads.s3.amazonaws.com/59e71ca8db5412000cf0a746/5aad4f1bec36ed000de2eb67/5aae4cdd1674f3000d47cafc/img/page 4bitmap  1.png">
    <div class="exelent">Exelent</div>
    <div class="a23-review">23 review</div>
    <div class="rectangle41">
      <input type="text" name="trapit" value="" style="display:none;">
    </div>
    <div class="a94">9,4</div>
    <div class="group6">
      <input type="text" name="trapit" value="" style="display:none;">
      <img class="rectangle-copy4" src="assets/images/page4_files/page 4rectangle copy  2.png" anima-src="https://anima-uploads.s3.amazonaws.com/59e71ca8db5412000cf0a746/5aad4f1bec36ed000de2eb67/5aae4cdd1674f3000d47cafc/img/page 4rectangle copy  2.png">
      <div class="group82">
        <input type="text" name="trapit" value="" style="display:none;">
        <div class="rectangle42">
          <input type="text" name="trapit" value="" style="display:none;">
        </div>
        <div class="repit-search1">Next step - catering setting</div>
      </div>
      <div class="a89001">$8 900</div>
      <div class="venue-price">Venue price:</div>
    </div>
    <div class="group162">
      <input type="text" name="trapit" value="" style="display:none;">
      <div class="group191">
        <input type="text" name="trapit" value="" style="display:none;">
        <img class="rectangle-copy5" src="assets/images/page4_files/page 4rectangle copy  3.png" anima-src="https://anima-uploads.s3.amazonaws.com/59e71ca8db5412000cf0a746/5aad4f1bec36ed000de2eb67/5aae4cdd1674f3000d47cafc/img/page 4rectangle copy  3.png">
        <div class="a7565">$7 565</div>
        <div class="group171">
          <input type="text" name="trapit" value="" style="display:none;">
          <img class="screen-shot20180317-at1331571" src="assets/images/page4_files/page 2screen shot 20180317 at 133157  1.png" anima-src="https://anima-uploads.s3.amazonaws.com/5aad4ecbec36ed000de2eb65/5aad4f1bec36ed000de2eb67/5aad5419167115000cfa619c/img/page 2screen shot 20180317 at 133157  1.png">
          <img class="screen-shot20180317-at1331211" src="assets/images/page4_files/page 2screen shot 20180317 at 133121  1.png" anima-src="https://anima-uploads.s3.amazonaws.com/5aad4ecbec36ed000de2eb65/5aad4f1bec36ed000de2eb67/5aad5419167115000cfa619c/img/page 2screen shot 20180317 at 133121  1.png">
          <img class="screen-shot20180317-at1331161" src="assets/images/page4_files/page 2screen shot 20180317 at 133116.png" anima-src="https://anima-uploads.s3.amazonaws.com/5aad4ecbec36ed000de2eb65/5aad4f1bec36ed000de2eb67/5aad5419167115000cfa619c/img/page 2screen shot 20180317 at 133116.png">
          <img class="screen-shot20180317-at1331091" src="assets/images/page4_files/page 2screen shot 20180317 at 133109  1.png" anima-src="https://anima-uploads.s3.amazonaws.com/5aad4ecbec36ed000de2eb65/5aad4f1bec36ed000de2eb67/5aad5419167115000cfa619c/img/page 2screen shot 20180317 at 133109  1.png">
          <div class="a34-parking-place1">34 parking place</div>
          <div class="free-wi-fi1">Free Wi-Fi </div>
          <div class="air-conditioning1">Air conditioning</div>
          <div class="own-catering1">Own catering</div>
        </div>
      </div>
      <img class="bitmap2" src="assets/images/page4_files/page 4bitmap  2.png" anima-src="https://anima-uploads.s3.amazonaws.com/59e71ca8db5412000cf0a746/5aad4f1bec36ed000de2eb67/5aae4cdd1674f3000d47cafc/img/page 4bitmap  2.png">
      <div class="landmark-vineyards">Landmark Vineyards
        <br>
      </div>
      <div class="exelent1">Exelent</div>
      <div class="a23-review1">23 review</div>
      <div class="rectangle43">
        <input type="text" name="trapit" value="" style="display:none;">
      </div>
      <div class="a941">9,4</div>
      <div class="group12">
        <input type="text" name="trapit" value="" style="display:none;">
        <div class="lviv02-miles-to-c2">Lviv, 0.2 miles to City center</div>
        <div class="placeholderdd2">
          <input type="text" name="trapit" value="" style="display:none;">
          <div class="shape11">
            <input type="text" name="trapit" value="" style="display:none;">
            <img class="shape12" src="assets/images/page4_files/page 2shape  7.png" anima-src="https://anima-uploads.s3.amazonaws.com/5aad4ecbec36ed000de2eb65/5aad4f1bec36ed000de2eb67/5aad5419167115000cfa619c/img/page 2shape  7.png">
            <img class="shape13" src="assets/images/page4_files/page 2shape  8.png" anima-src="https://anima-uploads.s3.amazonaws.com/5aad4ecbec36ed000de2eb65/5aad4f1bec36ed000de2eb67/5aad5419167115000cfa619c/img/page 2shape  8.png">
          </div>
        </div>
      </div>
    </div>
    <div class="group16-copy">
      <input type="text" name="trapit" value="" style="display:none;">
      <div class="group192">
        <input type="text" name="trapit" value="" style="display:none;">
        <img class="rectangle-copy6" src="assets/images/page4_files/page 4rectangle copy  3.png" anima-src="https://anima-uploads.s3.amazonaws.com/59e71ca8db5412000cf0a746/5aad4f1bec36ed000de2eb67/5aae4cdd1674f3000d47cafc/img/page 4rectangle copy  3.png">
        <div class="a75651">$7 565</div>
        <div class="group172">
          <input type="text" name="trapit" value="" style="display:none;">
          <img class="screen-shot20180317-at1331572" src="assets/images/page4_files/page 2screen shot 20180317 at 133157  1.png" anima-src="https://anima-uploads.s3.amazonaws.com/5aad4ecbec36ed000de2eb65/5aad4f1bec36ed000de2eb67/5aad5419167115000cfa619c/img/page 2screen shot 20180317 at 133157  1.png">
          <img class="screen-shot20180317-at1331212" src="assets/images/page4_files/page 2screen shot 20180317 at 133121  1.png" anima-src="https://anima-uploads.s3.amazonaws.com/5aad4ecbec36ed000de2eb65/5aad4f1bec36ed000de2eb67/5aad5419167115000cfa619c/img/page 2screen shot 20180317 at 133121  1.png">
          <img class="screen-shot20180317-at1331162" src="assets/images/page4_files/page 2screen shot 20180317 at 133116.png" anima-src="https://anima-uploads.s3.amazonaws.com/5aad4ecbec36ed000de2eb65/5aad4f1bec36ed000de2eb67/5aad5419167115000cfa619c/img/page 2screen shot 20180317 at 133116.png">
          <img class="screen-shot20180317-at1331092" src="assets/images/page4_files/page 2screen shot 20180317 at 133109  1.png" anima-src="https://anima-uploads.s3.amazonaws.com/5aad4ecbec36ed000de2eb65/5aad4f1bec36ed000de2eb67/5aad5419167115000cfa619c/img/page 2screen shot 20180317 at 133109  1.png">
          <div class="a34-parking-place2">34 parking place</div>
          <div class="free-wi-fi2">Free Wi-Fi </div>
          <div class="air-conditioning2">Air conditioning</div>
          <div class="own-catering2">Own catering</div>
        </div>
      </div>
      <div class="group83">
        <input type="text" name="trapit" value="" style="display:none;">
        <div class="rectangle44">
          <input type="text" name="trapit" value="" style="display:none;">
        </div>
        <div class="quick-booking">Change hotel</div>
      </div>
      <img class="bitmap3" src="assets/images/page4_files/page 4bitmap  3.png" anima-src="https://anima-uploads.s3.amazonaws.com/59e71ca8db5412000cf0a746/5aad4f1bec36ed000de2eb67/5aae4cdd1674f3000d47cafc/img/page 4bitmap  3.png">
      <div class="mr-tipples-recordi">Mr. Tipple's Recording Studio</div>
      <div class="exelent2">Exelent</div>
      <div class="a23-review2">23 review</div>
      <div class="rectangle45">
        <input type="text" name="trapit" value="" style="display:none;">
      </div>
      <div class="a942">9,4</div>
      <div class="lviv02-miles-to-c3">Lviv, 0.2 miles to City center</div>
      <div class="placeholderdd3">
        <input type="text" name="trapit" value="" style="display:none;">
        <div class="shape14">
          <input type="text" name="trapit" value="" style="display:none;">
          <img class="shape15" src="assets/images/page4_files/page 2shape  7.png" anima-src="https://anima-uploads.s3.amazonaws.com/5aad4ecbec36ed000de2eb65/5aad4f1bec36ed000de2eb67/5aad5419167115000cfa619c/img/page 2shape  7.png">
          <img class="shape16" src="assets/images/page4_files/page 2shape  8.png" anima-src="https://anima-uploads.s3.amazonaws.com/5aad4ecbec36ed000de2eb65/5aad4f1bec36ed000de2eb67/5aad5419167115000cfa619c/img/page 2shape  8.png">
        </div>
      </div>
    </div>
    <div class="we-found-properties">We found properties like Hotel Rius 4* that other users liked</div>
    <img class="line-copy4" src="assets/images/page4_files/page 2line copy 4  4.png"
      anima-src="https://anima-uploads.s3.amazonaws.com/5aad4ecbec36ed000de2eb65/5aad4f1bec36ed000de2eb67/5aad5419167115000cfa619c/img/page 2line copy 4  4.png">
    <div class="group84">
      <input type="text" name="trapit" value="" style="display:none;">
      <div class="rectangle46">
        <input type="text" name="trapit" value="" style="display:none;">
      </div>
      <div class="quick-booking1">Change hotel</div>
    </div>
    <div class="english-united-stat">English (United States)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;EUR - €&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Help&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Manage
      My Booking</div>
    <img class="bitmap4" src="assets/images/page4_files/page 4bitmap copy.png" anima-src="https://anima-uploads.s3.amazonaws.com/59e71ca8db5412000cf0a746/5aad4f1bec36ed000de2eb67/5aae4f6d145b81000b62e1d2/img/page 4bitmap copy.png">
    <img class="bitmap5" src="assets/images/page4_files/page 4bitmap copy.png" anima-src="https://anima-uploads.s3.amazonaws.com/59e71ca8db5412000cf0a746/5aad4f1bec36ed000de2eb67/5aae4f6d145b81000b62e1d2/img/page 4bitmap copy.png">
    <img class="bitmap-copy" src="assets/images/page4_files/page 4bitmap copy.png" anima-src="https://anima-uploads.s3.amazonaws.com/59e71ca8db5412000cf0a746/5aad4f1bec36ed000de2eb67/5aae4f6d145b81000b62e1d2/img/page 4bitmap copy.png">
    <img class="bitmap-copy1" src="assets/images/page4_files/page 4bitmap copy.png" anima-src="https://anima-uploads.s3.amazonaws.com/59e71ca8db5412000cf0a746/5aad4f1bec36ed000de2eb67/5aae4f6d145b81000b62e1d2/img/page 4bitmap copy.png">
    <img class="bitmap6" src="assets/images/page4_files/page 4bitmap  6.png" anima-src="https://anima-uploads.s3.amazonaws.com/59e71ca8db5412000cf0a746/5aad4f1bec36ed000de2eb67/5aae519b145b81000c0e5a1d/img/page 4bitmap  6.png">
    <img class="bitmap7" src="assets/images/page4_files/page 4bitmap  7.png" anima-src="https://anima-uploads.s3.amazonaws.com/59e71ca8db5412000cf0a746/5aad4f1bec36ed000de2eb67/5aae519b145b81000c0e5a1d/img/page 4bitmap  7.png">
    <img class="bitmap-copy2" src="assets/images/page4_files/page 4bitmap  7.png" anima-src="https://anima-uploads.s3.amazonaws.com/59e71ca8db5412000cf0a746/5aad4f1bec36ed000de2eb67/5aae519b145b81000c0e5a1d/img/page 4bitmap  7.png">
  </div>
</div>