<div *ngIf="loadingService.isLoading" class="spinner">
  <mat-spinner></mat-spinner>
</div>
<div *ngIf="!loadingService.isLoading">
  <div class="page1">
    <div style="width: 1400px; height: 100%; position:relative; margin:auto;">
      <div class="group5-copy">
        <input type="text" name="trapit" value="" style="display:none;">
        <img class="bitmap" src="assets/images/page1-short_files/page 1bitmap.png" anima-src="https://anima-uploads.s3.amazonaws.com/59e71ca8db5412000cf0a746/5aad4f1bec36ed000de2eb67/5aae738b145b81000c0e5b00/img/page 1bitmap.png">
        <div class="group2">
          <input type="text" name="trapit" value="" style="display:none;">
          <div class="group-copy8">
            <input type="text" name="trapit" value="" style="display:none;">
            <div class="need-venue">Need venue</div>
          </div>
        </div>
        <div class="group2-copy">
          <input type="text" name="trapit" value="" style="display:none;">
          <div class="group-copy81">
            <input type="text" name="trapit" value="" style="display:none;">
            <div class="need-catering">Need catering</div>
          </div>
        </div>
        <div class="group2-copy3">
          <input type="text" name="trapit" value="" style="display:none;">
          <div class="group10">
            <input type="text" name="trapit" value="" style="display:none;">
            <div class="specific-date">Specific date</div>
            <div class="date-range">Date&nbsp;&nbsp;range</div>
            <div class="anytime">Anytime</div>
            <div class="group2-copy1">
              <input type="text" name="trapit" value="" style="display:none;">
              <div class="group-copy82">
                <input type="text" name="trapit" value="" style="display:none;">
                <div class="all-day-event">All day event</div>
                <img class="bitmap-copy" src="assets/images/page1-short_files/page 1bitmap copy.png" anima-src="https://anima-uploads.s3.amazonaws.com/59e71ca8db5412000cf0a746/5aad4f1bec36ed000de2eb67/5aae7260145b81000c0e5afa/img/page 1bitmap copy.png">
              </div>
            </div>
            <div class="group4-copy">
              <input type="text" name="trapit" value="" style="display:none;">
              <div class="group-copy5">
                <input type="text" name="trapit" value="" style="display:none;">
                <div class="rectangle2">
                  <input type="text" name="trapit" value="" style="display:none;">
                </div>
                <div class="calendar">
                  <input type="text" name="trapit" value="" style="display:none;">
                  <img class="shape" src="assets/images/page1-short_files/artboardshape.png" anima-src="https://anima-uploads.s3.amazonaws.com/5aad4ecbec36ed000de2eb65/5aad4f1bec36ed000de2eb67/5aad4f1cec36ed000de2eb69/img/artboardshape.png">
                  <img class="shape1" src="assets/images/page1-short_files/artboardshape  4.png" anima-src="https://anima-uploads.s3.amazonaws.com/5aad4ecbec36ed000de2eb65/5aad4f1bec36ed000de2eb67/5aad4f1cec36ed000de2eb69/img/artboardshape  4.png">
                  <img class="shape2" src="assets/images/page1-short_files/artboardshape  5.png" anima-src="https://anima-uploads.s3.amazonaws.com/5aad4ecbec36ed000de2eb65/5aad4f1bec36ed000de2eb67/5aad4f1cec36ed000de2eb69/img/artboardshape  5.png">
                </div>
                <div class="from">From</div>
              </div>
              <div class="group-copy6">
                <input type="text" name="trapit" value="" style="display:none;">
                <div class="rectangle21">
                  <input type="text" name="trapit" value="" style="display:none;">
                </div>
                <div class="calendar1">
                  <input type="text" name="trapit" value="" style="display:none;">
                  <img class="shape3" src="assets/images/page1-short_files/artboardshape.png" anima-src="https://anima-uploads.s3.amazonaws.com/5aad4ecbec36ed000de2eb65/5aad4f1bec36ed000de2eb67/5aad4f1cec36ed000de2eb69/img/artboardshape.png">
                  <img class="shape4" src="assets/images/page1-short_files/artboardshape  4.png" anima-src="https://anima-uploads.s3.amazonaws.com/5aad4ecbec36ed000de2eb65/5aad4f1bec36ed000de2eb67/5aad4f1cec36ed000de2eb69/img/artboardshape  4.png">
                  <img class="shape5" src="assets/images/page1-short_files/artboardshape  5.png" anima-src="https://anima-uploads.s3.amazonaws.com/5aad4ecbec36ed000de2eb65/5aad4f1bec36ed000de2eb67/5aad4f1cec36ed000de2eb69/img/artboardshape  5.png">
                </div>
                <div class="to">To</div>
              </div>
              <div class="group-copy4">
                <input type="text" name="trapit" value="" style="display:none;">
                <div class="event-dates">Event dates:</div>
              </div>
              <div class="group-copy7">
                <input type="text" name="trapit" value="" style="display:none;">
                <div class="label1">-</div>
              </div>
            </div>
          </div>
          <div class="group-copy83">
            <input type="text" name="trapit" value="" style="display:none;">
          </div>
        </div>
        <div class="group2-copy2">
          <input type="text" name="trapit" value="" style="display:none;">
          <div class="group-copy84">
            <input type="text" name="trapit" value="" style="display:none;">
            <div class="need-extraservices">Need extraservices</div>
          </div>
        </div>
        <div class="group3">
          <input type="text" name="trapit" value="" style="display:none;">
          <div class="group">
            <input type="text" name="trapit" value="" style="display:none;">
            <div class="rectangle22">
              <input type="text" name="trapit" value="" style="display:none;">
            </div>
            <div class="city" style="color: #444444">Lviv</div>
            <img class="image1" src="assets/images/page1-short_files/page 1.png" anima-src="https://anima-uploads.s3.amazonaws.com/59e71ca8db5412000cf0a746/5aad4f1bec36ed000de2eb67/5aae7260145b81000c0e5afa/img/page 1.png">
          </div>
          <div class="group-copy2">
            <input type="text" name="trapit" value="" style="display:none;">
            <div class="rectangle23">
              <input type="text" name="trapit" value="" style="display:none;">
            </div>
            <div class="event-type" style="color: #444444">Tech</div>
            <img class="image2" src="assets/images/page1-short_files/artboard.png" anima-src="https://anima-uploads.s3.amazonaws.com/5aad4ecbec36ed000de2eb65/5aad4f1bec36ed000de2eb67/5aad4f1cec36ed000de2eb69/img/artboard.png">
          </div>
          <div class="group-copy">
            <input type="text" name="trapit" value="" id="guest1" class="guests" placeholder="Guests">
          </div>
          <div class="group4">
            <input type="text" name="trapit" value="" style="display:none;">
            <div class="group-copy51">
              <input type="text" name="trapit" value="" style="display:none;">
              <div class="rectangle25">
                <input type="text" name="trapit" value="" style="display:none;">
              </div>
              <img class="image3" src="assets/images/page1-short_files/artboard.png" anima-src="https://anima-uploads.s3.amazonaws.com/5aad4ecbec36ed000de2eb65/5aad4f1bec36ed000de2eb67/5aad4f1cec36ed000de2eb69/img/artboard.png">
            </div>
            <div class="group-copy41">
              <input type="text" name="trapit" value="" style="display:none;">
              <div class="your-budget">Your budget:</div>
            </div>
          </div>
        </div>
      </div>
      <div class="group5">
        <input type="text" name="trapit" value="" style="display:none;">
        <div class="rectangle4" (click)="search()" style="cursor: pointer">
          <input type="text" name="trapit" value="" style="display:none;">
        </div>
        <div class="search">Search</div>
      </div>
      <div class="group7">
        <input type="text" name="trapit" value="" style="display:none;">
        <img class="rectangle" src="assets/images/page1-short_files/artboardrectangle.png" anima-src="https://anima-uploads.s3.amazonaws.com/5aad4ecbec36ed000de2eb65/5aad4f1bec36ed000de2eb67/5aad4f1cec36ed000de2eb69/img/artboardrectangle.png">
        <div class="event-on-fly">EVENT ON FLY</div>
        <img class="bitmap1" src="assets/images/page1-short_files/artboardbitmap.png" anima-src="https://anima-uploads.s3.amazonaws.com/5aad4ecbec36ed000de2eb65/5aad4f1bec36ed000de2eb67/5aad4f1cec36ed000de2eb69/img/artboardbitmap.png">
      </div>
      <div class="group11">
        <input type="text" name="trapit" value="" style="display:none;">
        <div class="group8">
          <input type="text" name="trapit" value="" style="display:none;">
          <div class="a1">
            <input type="text" name="trapit" value="" style="display:none;">
            <img class="bitmap-copy1" src="assets/images/page1-short_files/page 1bitmap copy  1.png" anima-src="https://anima-uploads.s3.amazonaws.com/59e71ca8db5412000cf0a746/5aad4f1bec36ed000de2eb67/5aae7260145b81000c0e5afa/img/page 1bitmap copy  1.png">
          </div>
          <img class="bitmap-copy3" src="assets/images/page1-short_files/page 1bitmap copy 3.png" anima-src="https://anima-uploads.s3.amazonaws.com/59e71ca8db5412000cf0a746/5aad4f1bec36ed000de2eb67/5aae7260145b81000c0e5afa/img/page 1bitmap copy 3.png">
          <img class="group6" src="assets/images/page1-short_files/page 1group 6.png" anima-src="https://anima-uploads.s3.amazonaws.com/59e71ca8db5412000cf0a746/5aad4f1bec36ed000de2eb67/5aae7260145b81000c0e5afa/img/page 1group 6.png">
          <img class="bitmap2" src="assets/images/page1-short_files/page 1bitmap  4.png" anima-src="https://anima-uploads.s3.amazonaws.com/59e71ca8db5412000cf0a746/5aad4f1bec36ed000de2eb67/5aae7260145b81000c0e5afa/img/page 1bitmap  4.png">
          <img class="bitmap-copy2" src="assets/images/page1-short_files/page 1bitmap copy 2.png" anima-src="https://anima-uploads.s3.amazonaws.com/59e71ca8db5412000cf0a746/5aad4f1bec36ed000de2eb67/5aae7260145b81000c0e5afa/img/page 1bitmap copy 2.png">
          <img class="bitmap-copy4" src="assets/images/page1-short_files/page 1bitmap copy 4.png" anima-src="https://anima-uploads.s3.amazonaws.com/59e71ca8db5412000cf0a746/5aad4f1bec36ed000de2eb67/5aae7260145b81000c0e5afa/img/page 1bitmap copy 4.png">
        </div>
        <div class="predefined-packages">Predefined packages</div>
      </div>
      <div class="pool-party">POOL PARTY</div>
      <div class="event-at-arena-lviv">EVENT AT ARENA LVIV </div>
      <div class="event-in-the-cinema">EVENT IN THE CINEMA</div>
      <div class="event-on-the-factory">EVENT&nbsp;&nbsp;ON THE FACTORY</div>
      <div class="event-in-contemporar">EVENT IN&nbsp;&nbsp;
        <br>CONTEMPORARY STYLE</div>
      <div class="red-carpet-event">RED CARPET EVENT</div>
      <img class="bitmap3" src="assets/images/page1-short_files/page 1bitmap copy.png" anima-src="https://anima-uploads.s3.amazonaws.com/59e71ca8db5412000cf0a746/5aad4f1bec36ed000de2eb67/5aae7260145b81000c0e5afa/img/page 1bitmap copy.png">
      <img class="bitmap4" src="assets/images/page1-short_files/page 1bitmap copy.png" anima-src="https://anima-uploads.s3.amazonaws.com/59e71ca8db5412000cf0a746/5aad4f1bec36ed000de2eb67/5aae7260145b81000c0e5afa/img/page 1bitmap copy.png">
      <img class="bitmap-copy5" src="assets/images/page1-short_files/page 1bitmap copy.png" anima-src="https://anima-uploads.s3.amazonaws.com/59e71ca8db5412000cf0a746/5aad4f1bec36ed000de2eb67/5aae7260145b81000c0e5afa/img/page 1bitmap copy.png">
      <img class="bitmap5" src="assets/images/page1-short_files/page 4bitmap  6.png" anima-src="https://anima-uploads.s3.amazonaws.com/59e71ca8db5412000cf0a746/5aad4f1bec36ed000de2eb67/5aae519b145b81000c0e5a1d/img/page 4bitmap  6.png">
      <img class="bitmap-copy21" src="assets/images/page1-short_files/page 4bitmap  7.png" anima-src="https://anima-uploads.s3.amazonaws.com/59e71ca8db5412000cf0a746/5aad4f1bec36ed000de2eb67/5aae519b145b81000c0e5a1d/img/page 4bitmap  7.png">
      <img class="bitmap-copy51" src="assets/images/page1-short_files/page 4bitmap  7.png" anima-src="https://anima-uploads.s3.amazonaws.com/59e71ca8db5412000cf0a746/5aad4f1bec36ed000de2eb67/5aae519b145b81000c0e5a1d/img/page 4bitmap  7.png">
      <div class="group12">
        <input type="text" name="trapit" value="" style="display:none;">
        <div class="rectangle7">
          <input type="text" name="trapit" value="" style="display:none;">
        </div>
        <div class="rectangle7-copy">
          <input type="text" name="trapit" value="" style="display:none;">
        </div>
        <div class="rectangle7-copy2">
          <input type="text" name="trapit" value="" style="display:none;">
        </div>
        <img class="screen-shot20180317-at095946-copy" src="assets/images/page1-short_files/page 4screen shot 20180317 at 095946 copy.png"
          anima-src="https://anima-uploads.s3.amazonaws.com/59e71ca8db5412000cf0a746/5aad4f1bec36ed000de2eb67/5aae4e4d1674f3000caee917/img/page 4screen shot 20180317 at 095946 copy.png">
        <div class="english-united-stat">English (United States)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;EUR - €&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Help&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Manage
          My Booking</div>
      </div>
    </div>
  </div>
</div>