<mat-card>
  <mat-card-header>
    <span class="price">
      {{'$' + ((bundle.venue.useIt ? bundle.venue.price.amount : 0 ) + (bundle.catering.useIt ? bundle.catering.price : 0))}}
    </span>
    <span class="price-text">total price</span>
  </mat-card-header>
  <div class="divider"></div>
  <mat-card-content>
    <section>
      <mat-checkbox [(ngModel)]="bundle.venue.useIt">Venue</mat-checkbox>
      <div class="info-container">
        <img class="info-image" [src]="bundle.venue.images[0]" />
        <div class="internal-info-container">
          <span class="item-name">{{bundle.venue.name}}</span>
          <span class="item-address">{{bundle.venue.location.address}}</span>
          <div class="facilities-container">

          </div>
          <span class="price price-abs">{{'$' + bundle.venue.price.amount}}</span>
        </div>
      </div>
    </section>
    <section>
      <mat-checkbox [(ngModel)]="bundle.catering.useIt">Catering</mat-checkbox>
      <div class="info-container">
        <img [src]="bundle.catering.image" />
        <div class="internal-info-container">
          <span class="item-name">{{bundle.catering.name}}</span>
          <div class="facilities-container">
          </div>
          <span class="price price-abs">{{'$' + bundle.catering.price}}</span>
        </div>
      </div>
    </section>
  </mat-card-content>
  <mat-card-actions>
    <div class="dummy-div"></div>
    <button mat-raised-button color="accent">Book now</button>
    <button mat-raised-button color="accent">View details</button>
  </mat-card-actions>
</mat-card>