<mat-card class="example-card">
  <mat-card-header>
    <span class="price">{{'$' + (bundle.venue.price.amount)}}</span>
    <span class="price-text">total price</span>
  </mat-card-header>
  <div class="divider"></div>
  <mat-card-content>
    <section>
      <mat-checkbox [(ngModel)]="bundle.venue.useIt">Venue</mat-checkbox>
      <div class="info-container">
        <img class="info-image" [src]="bundle.venue.images[0]" />
        <div class="internal-info-container">
          <span class="item-name">{{bundle.venue.name}}</span>
          <span class="item-address">{{bundle.venue.location}}</span>
          <div class="facilities-container">
            <span class="price">{{'$' + bundle.venue.price.amount}}</span>
          </div>
        </div>
      </div>
    </section>
    <!-- <section>
          <mat-checkbox [(ngModel)]="bundle.catering.useIt">Venue</mat-checkbox>
          <img [src]="bundle.catering.image"/>
          <span class="item-name">{{bundle.catering.name}}</span>
          <div class="facilities-container">
            <span class="price">{{'$' + bundle.catering.price}}</span>
          </div>
        </section> -->
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>Book now</button>
    <button mat-button>View details</button>
  </mat-card-actions>
</mat-card>