mat-card {
    margin-bottom: 20px;
}

img {
    width: 200px;
    height: 130px;
}

.stub-image {
    width: 800px;
}

.divider {
    width: 40%;
    border-top: 1px solid #cccccc;
}

.price-text {
    vertical-align: bottom;
    font-size: 15px;
    padding-top: 7px;
    padding-left: 5px;
    color: #aaaaaa;
}

section {
    margin-bottom: 10px;
}

.price {
    font-size: 25px;
    color: #ff4081;
}

mat-checkbox {
    display: block;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 10px
}

mat-card-content {
    margin-top: 20px;
}

.info-container {
    margin-left: 25px;
    display: flex;
    position: relative;
}

.internal-info-container {
    flex: 1;
    background: #eeeeee;
    margin-left: 15px;
    position: relative;
}

.item-name {
    margin: 10px;
    margin-bottom: 5px;
    display: block;
    text-decoration: underline;
    font-size: 20px;
    cursor: pointer;
}

.item-address {
    margin-left: 10px;
    font-size: 13px;
    color: #777777;
}

.price-abs {
    position: absolute;
    right: 0;
    margin-right: 35px;
    top: 90px;
    margin-top: -15px;
    font-size: 20px;
}

mat-card-actions {
    display: flex;
    margin-right: 0;
}

.dummy-div {
    flex: 1;
}