<div *ngIf="searchService.currentPage === 0" class="start-filter">
    <app-basic-filter [basicFilter]="searchService.searchRequest.simpleFilter" 
    [additionalServices]="searchService.searchRequest.additionalServices"
    [showSearch]="true"></app-basic-filter>
</div>
<div *ngIf="searchService.currentPage === 1">
    <div class="content">
        <div class="left-side">
            <app-filter></app-filter>
        </div>
        <div class="main-side">
            <div class="bundles">
                <app-bundle-item *ngFor="let bundle of searchService.bundles" [bundle]="bundle">
                </app-bundle-item>
            </div>
        </div>
    </div>
</div>